page-message {
  .img-match {
    border-radius: 50%;
  }

  .bg-white{
    background: white;
  }

  .uppercase{
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  .color-red {
    color: #ee3a3a;
  }

}
