<ion-content>
  <ion-item-divider class="label-card">
    Combinações
  </ion-item-divider>
  <div padding>
      <ks-swiper-container [options]="example1SwipeOptions">
        <ks-swiper-slide *ngFor="let number of [1,2,3,4,5,6,7,8,9]">
          <img class="img-match"src="http://api.randomuser.me/portraits/thumb/men/{{number}}.jpg">
        </ks-swiper-slide>
      </ks-swiper-container>
    </div>

    <ion-item-divider class="label-card">
      Mensagens
    </ion-item-divider>

  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar item-left>
        <img *ngIf="user.picture" [src]="user.picture.thumbnail">
      </ion-avatar>
      <h2>{{user.name.first}}</h2>
      <p>I've had a pretty messed up day. If we just...</p>
    </ion-item>
  </ion-list>



</ion-content>
