user-modal {
    .card-md {
      border-radius: 5px;
      margin: auto;
      width: 100%;
    }

    .match_buttos button {

      background: color($colors, more-light);
    }

    .match_buttos ion-col {
      padding: 0px;
    }

    .match_buttos ion-icon {
      font-size: 2.5em;
    }


    .user-description {
      text-align: center;
    }

    .ptinder-buttons {
      position: fixed;
      bottom:   0;
      z-index: 100;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-around;
    }

    .ptinder-button {
      width: 60px;
      height:60px;
      border-radius: 50%;
      background: #FFF;
    }



}
