user-modal {
    .card-md {
      border-radius: 5px;
      margin: auto;
      width: 100%;
    }

    .user-buttons {
      position: fixed;
      bottom:   0;
      z-index: 100;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-around;
    }

    .user-button {
      width: 60px;
      height:60px;
      border-radius: 50%;
      background: color($colors,more-light);
      box-shadow: 1px 1px 1px 1px #c6c6c6;
    }


}
