user-modal {
    .card-md {
      border-radius: 5px;
      margin: auto;
      width: 100%;
    }

    .user-description {
      text-align: center;
    }

    .user-buttons {
      position: fixed;
      bottom:   0;
      z-index: 100;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-around;
    }

    .user-button {
      width: 60px;
      height:60px;
      border-radius: 50%;
      background: #FFF;
    }


}
